<a href="https://colab.research.google.com/github/supriyabaghel46/Python-basics/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python coding practice

In [ ]:
#adding two no.s taking user input
num1 = float(input("enter 1st no.s:"))
num2 = float(input("enter 2nd no.s"))

enter 1st no.s:3
enter 2nd no.s4

In [ ]:
print("the sum of two nos. is ", num1+num2)

the sum of two nos. is  7.0

In [ ]:
# to find the square root of the nos.

In [ ]:
number = float(input("enter the no."))
square = number**(0.5)
print("the square root of the no. is :",square)

enter the no.64
the square root of the no. is : 8.0

In [ ]:
#using math module
import math
num = int(input("enter the no."))
sr = math.sqrt(num)
print("the square root of the no. is ", sr)

enter the no.81
the square root of the no. is  9.0

In [ ]:
#to calculate the area of the triangle
height = float(input("enter the height of the triangle:"))
base = float(input("enter the base of the triangle:"))
area = 1/2 * base * height
print("the area of the triangle is :",area)

enter the height of the triangle:34
enter the base of the triangle:45
the area of the triangle is : 765.0

In [ ]:
#to swap two no. using third variable
a = int(input("enter the 1st no"))
b = int(input('enter the 2nd no.'))
c = a
a=b
b=c
print(a,b)

enter the 1st no2
enter the 2nd no.5
5 2

In [ ]:
#to swap two nos. without using two no.s
a = int(input("enter the 1st no."))
b = int(input("enter the 2nd no."))
a,b = b,a
print("the value of no. a is ", a)
print("the value of no. b is ", b)

enter the 1st no.6
enter the 2nd no.5
the value of no. a is  5
the value of no. b is  6

In [ ]:
# to convert kilometers to miles
z= float(input("enter the kilometers"))
miles = z * 0.621371
print(miles)

enter the kilometers3
1.8641130000000001

In [ ]:
# program to check if the no. is negative positive or zero
num = 0
if num>0:
  print("it's positive ")
elif num<0:
  print("it's a negative")
else:
  print("its zero")

its zero

In [ ]:
#program to check it the no. is odd or even
x= float(input("enter the no."))
if x%2==0:
  print("it is even")
else:
  print("it is odd")

enter the no.3
it is odd

In [ ]:
#program to check for leap year
year = 1996
if(year%100==0) and (year%400==0):
  print("it's a leap year")
elif(year%4==0) and (year%100!=0):
  print("it's a leap year")
else:
  print("it's not a leap year")

it's a leap year

In [ ]:
#python program to find the largest among three no.s
num1 = int(input("enter the first no."))
num2 = int(input("enter the second no."))
num3 = int(input("enter the third no."))
if(num1>num2) and (num2>num3):
  print("num1 is the greatest")
elif(num2>num1) and (num1>num3):
  print("num2 is the greatest")
elif(num3>num1) and (num1>num2):
  print("num3 is the greatest")
else:
  print("all are equal")

enter the first no.0
enter the second no.0
enter the third no.0
all are equal

In [ ]:
# program to check if the no. is prime or not
num = int(input("enter the no."))
if num > 1:
  for i in range(2,num):
      if(num%i==0):
        print("it's not a prime number")
        break
  else: # This 'else' belongs to the 'for' loop
    print("it's a prime number")
elif num == 1:
  print("it's not a prime number") # 1 is not a prime number by definition
else:
  print("it's not a prime number") # Numbers less than or equal to 1 are not prime

enter the no.12
it's not a prime number